<div class='background-Img'>
  <div class='container'>
  </div>
  <h1>{{title}}</h1>
  <div class='container'>
    <form action='/artist-search' method='GET'>
      <label for='artist-name'></label>
      <input type='text' id='artist-name' name='artist' />
      <button type='submit'>Search for an Artist</button>
    </form>
  </div>
</div>